.header {
    border-bottom: 1px solid #ececec;
  }
  .list.header-container {
    gap: 50px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  
  &__nav {
    margin-right: auto;
  }
 
  &__contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--grey-txt-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
    line-height: calc(14 / 12);
    padding-top: 21px;
    }
  }
  
  &--contacts:hover,
  &--contacts:focus {
    color: var(--accent-color);
  }
  
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.header-container-hidden {
  @media screen and (max-width: 767px) {
    display: none; 
  }
}

.header-contacts-tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}