.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media screen and (min-width: 480px) {
      width: 450px;
    }

      @media screen and (min-width: 768px) {
        width: 738px;
    }

    @media screen and (min-width: 1200px) {
      width: 1170px;
  }
}


  .filters__container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }

  