.form {
  text-align: center;
}

.form__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-txt-color);
}

.form__group {
  margin-bottom: 20px;
}

.form__wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.form__comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 4px;
    border: 1px solid #2196f3;
  }

  &:hover + .form__icon,
  &:focus + .form__icon {
    fill: var(--accent-icon-color);
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}

.form__agreement-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
  user-select: none;
  text-underline-position: under;
}

.form__agreement-icon {
  .form__checkbox:checked + & &--unchecked {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form__agreement-icon--checked {
    opacity: 0;
  }

  .form__checkbox:checked + & &--checked {
    opacity: 1;
  }
}

.form__conditions {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-txt-color);
}
