:root {
    
    --main-font: 'Roboto', sans-serif;
    --additional-font: 'Raleway', sans-serif;
    
    --dark-txt-color: #212121;
    --grey-txt-color: #757575;
    --white-txt-color: #ffffff;
    --accent-txt-color: #2196f3;
    
    --main-bgc: #ffffff;
    --additional-bgc: #2f303a;
    --accent-color: #2196f3;
  
    --grey-icon-color: #afb1b8;
    --accent-icon-color: #2196f3;
    --white-icon-color: #ffffff;
  }